<container class="todays__forecast_container container">
	<div class="todays__forecast_content">
		<div class="todays__forecast_city">
			<p>Today's Forecast for Tirana, Albania</p>
		</div>
		<div class="todays__forecast_four">
			<div class="todays__forecast_morning todays__forecast_four-all">
				<p>Morning</p>
				<p>10°</p>
				<i class="uil uil-cloud-sun-rain-alt"></i>
				<div class="todays__forecast_rain">
					<i class="uil uil-raindrops"></i>
					<p>5%</p>
				</div>
			</div>
			<div class="todays__forecast_afternoon todays__forecast_four-all">
				<p>Afternoon</p>
				<p>12°</p>
				<i class="uil uil-cloud-sun-rain-alt"></i>
				<div class="todays__forecast_rain">
					<i class="uil uil-raindrops"></i>
					<p>11%</p>
				</div>
			</div>
			<div class="todays__forecast_evening todays__forecast_four-all">
				<p>Evening</p>
				<p>7°</p>
				<i class="uil uil-clouds"></i>

				<div class="todays__forecast_rain">
					<i class="uil uil-raindrops"></i>

					<p>5%</p>
				</div>
			</div>
			<div class="todays__forecast_overnight todays__forecast_four-all">
				<p>Overnight</p>
				<p>3°</p>
				<i class="uil uil-clouds"></i>

				<div class="todays__forecast_rain">
					<i class="uil uil-raindrops"></i>

					<p>2%</p>
				</div>
			</div>
		</div>
		<div class="todays__forecast_button"><a href="#">Next Hours</a></div>
	</div>
</container>
