<container class="weather__today_container container">
	<div class="weather__today_content">
		<div class="weather__today_city">
			<p>Weather Today in Tirana, Albania</p>
		</div>
		<div class="weather__today_info">
			<div class="weather__today_info_left">
				<p>34°</p>
				<p>Feels like</p>
			</div>
			<div class="weather__today_info_right">
				<i class="uil uil-wind-sun"></i>
			</div>
		</div>
		<div class="weather__today_prop-all">
			<div class="weather__today_prop">
				<i class="uil uil-temperature-half"></i>
				<p>High / Low</p>
				<p>--/36°</p>
			</div>
			<div class="weather__today_prop">
				<i class="uil uil-tear"></i>
				<p>Humidiy</p>
				<p>88%°</p>
			</div>
			<div class="weather__today_prop">
				<i class="uil uil-compress-v"></i>
				<p>Pressure</p>
				<p>&darr; 30.12 in</p>
			</div>
			<div class="weather__today_prop">
				<i class="uil uil-eye"></i>
				<p>Visibility</p>
				<p>1.9 mi</p>
			</div>
			<div class="weather__today_prop">
				<i class="uil uil-wind"></i>
				<p>Wind</p>
				<p>5 mph</p>
			</div>
			<div class="weather__today_prop">
				<i class="uil uil-tear"></i>
				<p>Dew Point</p>
				<p>34°</p>
			</div>
			<div class="weather__today_prop">
				<i class="uil uil-sun"></i>
				<p>UV Index</p>
				<p>0 of 10</p>
			</div>
			<div class="weather__today_prop">
				<i class="uil uil-moon-eclipse"></i>
				<p>Moon Phase</p>
				<p>Warning Crescent</p>
			</div>
		</div>
	</div>
</container>
