@import '/assets/components/header/header.css';
@import '/assets/components/footer/footer.css';
@import '/assets/pages/today/today.css';

body {
	background: var(--third-color);
	background: linear-gradient(180deg, var(--third-color) 0%, var(--first-color) 100%);
}

.title-margin {
	margin-top: 3.5rem;
}

.this-weekend {
	background-color: var(--body-color);
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	padding: 0 1rem 1rem;
}

.hidden {
	display: none !important;
}

.arrow,
.close_arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: var(--third-color);
	margin: 0 0.5rem;
	font-size: 1.7rem;
	cursor: pointer;
}

.section-weekend {
	margin-top: 160px;
}

.weekend-text {
	font-size: 0.9rem;
	line-height: 2.5rem;
	color: var(--title-color);
	margin-bottom: 1rem;
	font-weight: lighter;
}

.weekend-days {
	display: grid;
	grid-template-columns: 1fr 1fr 4fr 1fr 2fr 1fr;
	margin: 1.5rem 0;
	border-top: 1px solid var(--border-color);
	padding-top: 1rem;
}

.dropdown {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
	grid-template-rows: 1fr 1fr;
}

.daily-content {
	display: grid;
	/* justify-content: space-between; */
	/* align-items: center; */
	grid-template-columns: 1fr 1fr 4fr;
}

.dropdown-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	border: 1px solid var(--border-color);
	border-radius: 0.5rem;
	padding: 1rem;
	margin: 0.5rem 0;
}

.humidity {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.humidity.broder-bottom {
	border-bottom: 1px solid var(--border-color);
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

.index {
	display: flex;
	flex-direction: column;
}

.sunset {
	border-bottom: 1px solid var(--border-color);
}

.logo-dropdown {
	display: flex;
	align-items: flex-start;

	flex-direction: column;
}

@media screen and (max-width: 1023px) {
	.container {
		margin: 0 2rem;
	}
}

@media screen and (max-width: 767px) {
	.section-weekend {
		margin-top: 82px;
	}
}
