@import '/main.css';

.air__quality__section {
    background: var(--third-color);
    background: linear-gradient(180deg, var(--third-color) 0%, var(--first-color) 100%);
}
.air__quality__section .container {
    max-width: 1280px;
    margin: auto;
}
.air__quality__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.air__quality__today,
.all__pollutants {
    background-color: #ffffff;
    border-radius: 1rem;
}
.air__quality__description {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}
.air__quality__info {
    display: flex;
    justify-content: flex-start;
}
.air__quality__circle {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.air__quality__index {
    font-size: 3rem;
}






.all__pollutants__parts {
    display: flex;
    flex-wrap: wrap;
}
.all__pollutants__description {
    width: 50%;
    display: flex;
    margin: 1rem 0;
}
.all__pollutants__circle {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}




.air__quality__comments {
    padding: 2rem 1rem 1rem 1rem;
}