@import '/main.css';
/* @import '/assets/pages/today/today.css'; */
@import '/assets/components/header/header.css';
@import '/assets/components/footer/footer.css';
@import '/assets/pages/contact/modalContact.css';
@import '/assets/styles/loader.css';

/* SEVENDAY SECTION */

body{
	background: linear-gradient(var(--sixth-color), var(--second-color));
	background-attachment: fixed;}

.weekly__container {
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
	background-color: var(--body-color);
}
.weekly__content {
	display: flex;
	flex-direction: column;
}
.weekly__content i {
	font-size: var(--big-font-size);
	color: var(--fifth-color);
	padding-right: 1rem;
}
.weekly__title {
	padding: 1rem;
}
.weekly__title p:nth-child(2) {
font-size: 1.3rem;}

.weekly__main {
	display: grid;
	grid-template-columns: 2fr 2fr 3fr 2fr 2fr 1fr;
	border-top: solid 1px var(--fourth-color);
	padding: 0.5rem 1rem;
}
.weekly__main div {
	display: flex;
	align-items: center;
}
.weekly__main div:nth-child(2) span {
	font-size: 1.5rem;
}
.weekly__main div span:nth-child(2) {
	font-size: 1rem;
}

.content__title{
	font-size: 2rem;
}

.content__title span{
	font-size: 1rem;
	font-weight: 100;
}

.weekly-arrow {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.weekly__hidden {
	border-radius: 1.3rem;
	margin: 1rem;
	display: none;
}

#hidden-0{
	display: grid;
}
.weekly__main .uil-angle-down {
	cursor: pointer;
}
.weekly__hidden {
	border-radius: 0.5rem;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1rem;
}
.weekly__hidden__header {
	display: grid;
}
.weekly__hidden__info {
	display: flex;
	flex-wrap: wrap;
	padding: 0 1rem;
	border: solid 1px var(--fourth-color);
	border-radius: 0.5rem;
}
.weekly__hidden__info li {
	width: 50%;
	display: flex;
	flex-direction: row;
	padding: 1rem 0;
}
.weekly__hidden__info li:nth-child(1),
.weekly__hidden__info li:nth-child(2) {
	border-bottom: solid 1px var(--fourth-color);
}
.weekly__hidden__info__text {
	display: flex;
	flex-direction: column;
}
.weekly__button {
	display: flex;
	justify-content: center;
	padding: 1rem;
	border-top: solid 1px var(--fourth-color);
}
.weekly__button a {
	color: var(--text-color);
	font-weight: var(--font-medium);
	transition: 0.3s ease;
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	border: 1px solid var(--sixth-color);
}
.weekly__button a:hover {
	color: var(--body-color);
	background-color: var(--sixth-color);
}

.day-hidden {
	width: 100%;
	padding: 1rem;
	border-radius: 0.5rem;
	min-width: 10rem;

}

.night-hidden {
	width: 100%;
	padding: 1rem;
	border-radius: 0.5rem;
	min-width: 10rem;

}

.hidden-content-inner-div{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
