@import '/main.css';
@import '/assets/components/header/header.css';
@import '/assets/components/today-image/today-image.css';
@import '/assets/components/todays-forecast/todays-forecast.css';
@import '/assets/components/weather-today/weather-today.css';
@import '/assets/components/hourly-forecast/hourly-forecast.css';
@import '/assets/components/daily-forecast/daily-forecast.css';
@import '/assets/components/footer/footer.css';

@media screen and (max-width: 767px) {
	.section {
		padding: 1rem 0!important;
	}

	.nav__menu,
	.nav__buttons {
		display: none;
	}

	.header {
		flex-direction: row;
	}

	.nav__open_menu {
		display: flex;
	}

	.nav__open_menu {
		display: flex;
	}

	.nav__two {
		display: none;
	}

	.nav .nav__search {
		display: none;
	}

	.nav .nav__cf {
		display: none;
	}

	.realtime {
		margin-top: 80px;
	}

	.realtime__info_left p:nth-child(1) {
		font-size: 4rem;
	}

	.realtime__info_left p:nth-child(n + 2) {
		font-size: var(--h3-font-size);
	}

	.realtime__info_right i,
	.weather__today_info_right i {
		font-size: 6rem;
	}

	.todays__forecast_four-all i {
		font-size: 4rem;
	}

	.todays__forecast_rain i {
		font-size: var(--h2-font-size);
	}

	.todays__forecast_four {
		grid-auto-flow: column;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);
		/* row-gap: 2rem; */
		align-items: flex-start;
	}

	.todays__forecast_four-all {
		padding: 2rem 0;
	}

	.todays__forecast_four-all:not(:last-child) {
		border-right: 0px solid var(--fourth-color);
	}

	.todays__forecast_four-all:nth-child(1),
	.todays__forecast_four-all:nth-child(2) {
		border-right: 1px solid var(--fourth-color);
	}

	.todays__forecast_four-all:nth-child(1),
	.todays__forecast_four-all:nth-child(3) {
		border-bottom: 1px solid var(--fourth-color);
		/* padding-bottom: 2rem; */
	}

	/* .todays__forecast_four-all:nth-child(2),
	.todays__forecast_four-all:nth-child(4) {
		padding-top: 2rem;
	} */

	.weather__today_prop-all {
		grid-template-rows: repeat(8, 1fr);
		grid-template-columns: repeat(1, 1fr);
	}

	.weather__today_prop:not(:nth-child(8)) {
		border-bottom: 1px solid var(--fourth-color);
		padding: 0 0 1rem 0;
	}

	.weather__today_info_left p:first-child {
		font-size: 3rem;
	}

	.weather__today_info_left p {
		font-size: var(--h3-font-size);
	}

	.weather__today_prop p:last-child {
		text-align: right;
	}

	.hourly__forecast_five,
	.daily__forecast_five {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		padding: 1rem;
	}

	.hourly__forecast_five-all,
	.daily__forecast_five-all {
		padding-bottom: 2rem;
		padding-top: 2rem;
	}

	.hourly__forecast_five-all:not(:last-child),
	.daily__forecast_five-all:not(:last-child) {
		border-right: 0px solid var(--fourth-color);
	}

	.hourly__forecast_five-all:not(:nth-child(n + 4)),
	.daily__forecast_five-all:not(:nth-child(n + 4)) {
		border-right: 1px solid var(--fourth-color);
	}

	.hourly__forecast_five-all:not(:nth-child(3)),
	.daily__forecast_five-all:not(:nth-child(3)) {
		border-bottom: 1px solid var(--fourth-color);
	}

	.hourly__forecast_five-all i,
	.daily__forecast_five-all i {
		font-size: 4rem;
	}

	.hourly__forecast_rain i,
	.daily__forecast_rain i {
		font-size: var(--h2-font-size);
	}
}

@media screen and (max-width: 480px) {
	.button a {
		width: 100%;
		text-align: center;
	}

	.realtime__info_right i,
	.weather__today_info_right i {
		font-size: 4rem;
	}
}

@media screen and (max-width: 767px) {
	.content__title {
		color: var(--text-color);
		font-size: var(--h3-font-size);
		font-weight: var(--font-semi-bold);
	}

	.content__para {
		color: var(--text-color);
		font-size: var(--normal-font-size);
	}
}
