<container class="daily__forecast_container container">
	<div class="daily__forecast_content">
		<div class="daily__forecast_city">
			<p class="content__title">Daily Forecast</p>
		</div>
		<div class="daily__forecast_five">
			<div class="daily__forecast_five-all">
				<p>Today</p>
				<p>14°</p>
				<p>5°</p>
				<i class="uil uil-cloud-sun-rain-alt"></i>
				<div class="daily__forecast_rain">
					<i class="uil uil-raindrops"></i>
					<p>2%</p>
				</div>
			</div>
			<div class="daily__forecast_five-all">
				<p>Fri 23</p>
				<p>15°</p>
				<p>4°</p>
				<i class="uil uil-clouds"></i>

				<div class="daily__forecast_rain">
					<i class="uil uil-raindrops"></i>
					<p>2%</p>
				</div>
			</div>
			<div class="daily__forecast_five-all">
				<p>Sat 24</p>
				<p>16°</p>
				<p>5°</p>
				<i class="uil uil-clouds"></i>

				<div class="daily__forecast_rain">
					<i class="uil uil-raindrops"></i>

					<p>2%</p>
				</div>
			</div>
			<div class="daily__forecast_five-all">
				<p>Sun 25</p>
				<p>17°</p>
				<p>5°</p>
				<i class="uil uil-sun"></i>

				<div class="daily__forecast_rain">
					<i class="uil uil-raindrops"></i>

					<p>2%</p>
				</div>
			</div>
			<div class="daily__forecast_five-all">
				<p>Mon 26</p>
				<p>18°</p>
				<p>6°</p>
				<i class="uil uil-sun"></i>

				<div class="daily__forecast_rain">
					<i class="uil uil-raindrops"></i>

					<p>2%</p>
				</div>
			</div>
		</div>
		<div class="daily__forecast_button button"><a href="#">Next 7 Days</a></div>
	</div>
</container>
