/*==================== INTRO ANIMATION ====================*/

.weather__animation {
	display: block;
	position: fixed;
	z-index: 200;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 1);
	margin: auto;
}
.weather__animation__sun {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#sun-logo {
	color: var(--fifth-color);
	font-size: 6rem;
	animation: lds-hourglass 8s infinite;
}

.sun__logo_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
}

@keyframes lds-hourglass {
	0% {
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	50% {
		transform: rotate(900deg);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	100% {
		transform: rotate(1800deg);
	}
}

/* @media (prefers-reduced-motion: no-preference) {
	#sun-logo {
		animation: Sun-logo-spin infinite 25s linear, Sun-logo-opacity 3s linear;
	}
	.weather__animation {
		animation: Weather-animation-none 3s linear;
	}
}
@keyframes Sun-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes Weather-animation-none {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes Sun-logo-opacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
} */
