@import '/main.css';
@import '/assets/components/header/header.css';
@import '/assets/components/footer/footer.css';

body {
	background: linear-gradient(180deg, var(--third-color) 0%, var(--first-color) 100%);
}
.hourly__section {
	display: flex;
	justify-content: center;
	margin-top: 132px;
	/* height: calc(100vh - 233px); */
}
.hourly__container {
	width: 100%;
}
.hourly__content {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 1rem;
}
.hourly__content i {
	font-size: var(--big-font-size);
	color: var(--fifth-color);
	padding-right: 1rem;
}

.hourly__content i:last-child {
	padding-right: 0;
}

.hourly__title {
	/* border-bottom: solid 1px var(--fourth-color); */
	padding: 1rem;
}
.hourly__title p:nth-child(3) {
	padding: 1rem 0;
}
.hourly__date {
	/* border-bottom: solid 1px var(--fourth-color); */
}
.hourly__date h2 {
	padding: 1rem;
	border-top: solid 1px var(--fourth-color);
}
.hourly__description {
	/* padding: 0 1rem; */
}

.hourly__description_three {
	border-bottom: solid 1px var(--fourth-color);
}

.hourly__main {
	/* display: flex;
	flex-direction: row;
	justify-content: space-between; */
	display: grid;
	grid-template-columns: 2fr 2fr 3fr 2fr 2fr 1fr;
	border-top: solid 1px var(--fourth-color);
	padding: 0.5rem 1rem;
}

.hourly__main div {
	display: flex;
	align-items: center;
	width: 100%;
}

.hourly__main div:nth-child(2) span {
	font-size: var(--h1-font-size);
	font-weight: var(--font-semi-bold);
}

.hourly__main .hourly-arrow {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.hourly__hidden {
	border: solid 1px var(--fourth-color);
	border-radius: 1rem;
	margin: 20px;
	display: none;
}
.hourly__main .uil-angle-down {
	cursor: pointer;
}

.hourly__hidden__info {
	display: flex;
	flex-flow: row wrap;
	padding: 0 1rem;
}
.hourly__hidden__info li {
	width: 33%;
	display: flex;
	flex-direction: row;
	padding: 1rem 0;
}
.hourly__hidden__info li:nth-child(4),
.hourly__hidden__info li:nth-child(5),
.hourly__hidden__info li:nth-child(6) {
	border-top: solid 1px var(--fourth-color);
}
.hourly__hidden__info__text {
	display: flex;
	flex-direction: column;
}
.hourly__button {
	display: flex;
	justify-content: center;
	padding: 1rem;
}
.hourly__button a {
	color: var(--text-color);
	font-weight: var(--font-medium);
	transition: 0.3s ease;
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	border: 1px solid var(--sixth-color);
}
.hourly__button a:hover {
	color: var(--body-color);
	background-color: var(--sixth-color);
}
