@import '/main.css';

.container {
    max-width: 1280px;
    margin: auto;
}

.hourly__section {
    background: var(--fourth-color);
}

.hourly__content {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1rem;
}

.hourly__title {
    border-bottom: solid 1px var(--fourth-color);
    padding: 1rem;
}

.hourly__title p:nth-child(3) {
    padding: 1rem 0;
}

.hourly__date {
    border-bottom: solid 1px var(--fourth-color);
}

.hourly__date h2 {
    padding: 1rem;
}

.hourly__description {
    padding: 0 1rem;
}

.hourly__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid 1px var(--fourth-color);
    padding: 1rem 0;
}

.hourly__main div {
    padding-right: 1rem;
}

.uil-angle-down {
    cursor: pointer;
}

.hourly__hidden {
    border: solid 1px var(--fourth-color);
    border-radius: 8px;
    margin: 20px;
    /* display: none; */
}

.hourly__hidden__info {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
}

.hourly__hidden__info li {
    width: 33%;
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
}

.hourly__hidden__info li:nth-child(4),
.hourly__hidden__info li:nth-child(5),
.hourly__hidden__info li:nth-child(6) {
    border-top: solid 1px var(--fourth-color);
}

.hourly__hidden__info__text {
    display: flex;
    flex-direction: column;
}

.hourly__button {
    display: flex;
    justify-content: center;
    padding: 1rem;
}