.realtime {
	display: flex;
	justify-content: center;
	margin-top: 132px;
	padding-top: 1rem;
}

.realtime__container {
	width: 100%;
}

.realtime__content {
	display: flex;
	flex-direction: column;
}

.realtime__city {
	display: flex;
	align-items: flex-end;
	gap: 0.5rem;
	background-color: var(--sixth-color);
	padding: 1rem 1rem;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

/* .realtime__city p:first-child {
	color: var(--body-color);
	font-size: var(--h3-font-size);
	font-weight: var(--font-semi-bold);
}

.realtime__city p {
	color: var(--body-color);
	font-size: var(--normal-font-size);
} */

.realtime__info {
	display: flex;
	padding: 1rem 1rem;
	background-color: var(--fifth-color);
	background-image: url('https://www.freepnglogos.com/uploads/cloud-png/white-big-cloud-png-27.png');
	background-size: cover;
	background-position: bottom;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.realtime__info_left {
	width: 70%;
}

.realtime__info_left p:nth-child(1) {
	color: var(--body-color);
	font-size: 6rem;
	font-weight: var(--font-semi-bold);
	line-height: 1.1;
}

.realtime__info_left p:nth-child(n + 2) {
	color: var(--body-color);
	font-size: var(--h1-font-size);
	font-weight: var(--font-semi-bold);
}

.realtime__info_right {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.realtime__info_right i {
	font-size: 10rem;
	line-height: 0;
	color: var(--body-color);
}

.realtime__city .content__title,
.content__para {
	color: var(--body-color) !important;
}
