.hourly__forecast {
	display: flex;
	justify-content: center;
}

.hourly__forecast_container {
	width: 100%;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
	background-color: var(--body-color);
	border-radius: 0.5rem;
}

.hourly__forecast_content {
	display: flex;
	flex-direction: column;
}

.hourly__forecast_city {
	display: flex;
	gap: 0.5rem;
	/* background-color: var(--third-color); */
	padding: 1rem 1rem;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

/* .todays__forecast_city p {
	color: var(--text-color);
	font-size: var(--h3-font-size);
	font-weight: var(--font-semi-bold);
} */

.hourly__forecast_five {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding: 1rem;
	justify-content: space-between;
	align-items: center;
}

.hourly__forecast_five-all {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 0.5rem;
}

.hourly__forecast_five-all:not(:last-child) {
	border-right: 1px solid var(--fourth-color);
}

.hourly__forecast_five-all p:nth-child(1) {
	color: var(--text-color);
	font-size: var(--h3-font-size);
}

.hourly__forecast_five-all p {
	color: var(--fifth-color);
	font-size: var(--big-font-size);
}

.hourly__forecast_five-all i {
	font-size: 6rem;
	line-height: 0;
	color: var(--third-color);
}

.hourly__forecast_rain {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.hourly__forecast_rain i {
	font-size: var(--h2-font-size);
	color: var(--fifth-color);
}

.hourly__forecast_rain p {
	color: var(--text-color);
	font-size: var(--h3-font-size);
}

.hourly__forecast_button {
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.hourly__forecast_five-all:first-child p:nth-of-type(1) {
	font-weight: var(--font-semi-bold);
}

/* .todays__forecast_button a {
	font-size: var(--medium-font-size);
	color: var(--text-color);
	font-weight: var(--font-medium);
	transition: 0.3s ease;
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	border: 1px solid var(--sixth-color);
}

.todays__forecast_button a:hover {
	color: var(--body-color);
	background-color: var(--sixth-color);
} */
